.back-to-top {
	$parent: &;

	background-color: #000;
	color: #fff;
	width: 50px;
	height: 50px;
	display: block;

	padding: var(--space-xs);
	text-align: center;

	text-decoration: none;

	border-radius: var(--radius-md);

	transition: 0.3s;

	&--fixed {
		position: fixed;
		right: var(--space-md);
		bottom: var(--space-md);
		z-index: 29;
	}
}
