.nav {
	$parent: &;

	// removed  for meganav
	// position: relative;
	z-index: 10;

	> ul {
		//margin-left: -16px;
		//margin-right: -16px;
	}

	&--inline,
	&--horizontal {
		> ul {
			display: flex;
			align-items: flex-start;

			margin-left: -16px;
			margin-right: -16px;

			#{$parent}-link {
				padding-left: 16px;
				padding-right: 16px;
			}
		}
	}

	&--inline {
		> ul {
			flex-wrap: wrap;
		}
		&#{$parent}--nested {
			> ul {
				> li {
					> a {
						font-weight: 600;
						text-transform: uppercase;
					}
				}
			}
		}
	}

	&--horizontal {
		div.nav-child {
			position: absolute;
			left: 0;
			width: 100%;
		}

		> ul {
			ul {
				position: absolute;
				min-width: 150px;
				left: 50%;
				transform: translateX(-50%);

				background: #fff;
				color: #000;
			}

			.nav-child {
				visibility: hidden;
				opacity: 0;
				transition: opacity 0.3s;
				box-shadow: var(--shadow-md);
			}
		}

		li > a:hover + *,
		li > a:focus + *,
		li:hover > *,
		li:focus-within > * {
			opacity: 1;
			visibility: visible;
		}
	}

	&-level {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&-item {
		list-style: none;
		margin: 0;
		padding: 0;

		&--horizontal {
			position: relative;
		}

		> a,
		> span {
			line-height: 1.1;
		}
	}

	&-link {
		$parent: &;

		display: flex;
		padding: 16px 0;
		text-decoration: none;
		align-items: center;

		position: relative;

		svg {
			width: 20px;
			height: 20px;

			&:first-child {
				margin-right: 10px;
			}
			&:last-child {
				margin-left: 10px;
			}
		}

		&__text {
			position: relative;
			display: inline-block;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: -5px;
				width: 0;
				height: 0;
				border-bottom: 2px solid currentColor;
				transition: all 0.3s;
			}
		}

		&[href] {
			&.active,
			&:hover,
			&:focus {
				#{$parent}__text {
					&:before {
						width: 100%;
					}
				}
			}
		}
	}
}
