.nav {
	$parent: &;

	&--share {
		margin: 20px 0;

		> ul {
			margin: 0;
		}

		a {
			background-color: #ccc;
			transition: all 0.3s;

			&:hover,
			&:focus {
				color: red;
			}
		}

		.text {
			display: none;
		}

		.icon {
			&:first-child {
				margin: 0;
			}
		}
	}
}
