.nav--social {
	> ul {
		margin: 0;
	}

	a {
		padding: 8px;

		.icon {
			&:first-child {
				margin: 0;
			}
		}

		&:before {
			display: none;
		}

		&:hover {
			.icon {
			}
		}

		.text {
			display: none;
		}
	}
}
