.nav--social {
	> ul {
		margin: 0;
	}
	a {
		background: #ccc;
		border-radius: 50%;

		.icon {
			transition: transform 0.2s;
			transform: scale(1);

			&:first-child {
				margin: 0;
			}
		}

		&:before {
			display: none;
		}

		&:hover {
			.icon {
				transform: scale(1.3);
			}
		}

		.nav__text {
			display: none;
		}
	}
}
