.steps {
	$parent: &;

	line-height: 1.2;

	ol {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

	&__item {
		text-align: center;
		padding: 10px;
		flex-grow: 1;
	}

	&__icon {
		display: inline-block;
		height: 32px;
		width: 32px;
		border: 1px solid var(--clr-primary);
		border-radius: 50%;
	}
}
